
/* pENDIENTE LINEHEIGTH */


:root {
  --main-color: #2196F3;
  --subtitle-color: #212121;
  --background-color-secondary: #2F303A;
  --background-color-tertiary: #F5F4FA;
  --white-color: #ffffff;
  --text-color: #757575;
  --button-hover-color:#188ce8;
  --title-font-size:44px;
  --subtitle-font-size: 36px;
  --card-font-size: 18px;
  --logo-font-size: 26px;
  --button-font-size: 16px;
  --text-font-size: 14px; 
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}


.logo {
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-size: var(--logo-font-size);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3px;
}
.nav-link {
  color: var(--subtitle-color);
  font-size: var(--text-font-size);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
}
.active {
  color: var(--main-color);
} 
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: var(--main-color);
}
.contact-link { 
  color: var(--text-color);
  font-size: var(--text-font-size);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--main-color);
}


.hero {
  background-color: var(--background-color-secondary);
  text-align: center;
}
.hero-title {
  color: var(--white-color);
  font-size: var(--title-font-size);
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 6px;
}
.hero-button {
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: var(--button-font-size);
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 6px;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--button-hover-color);
}


.characteristics-subtitle {
  color: var(--subtitle-color);
  font-size: var(--text-font-size);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3px;
}
.characteristics-text {
  color: var(--text-color);
  font-size: var(--text-font-size);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 3px;
}


.services-title {
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3px;
  color: var(--subtitle-color);
}


.team {
  background-color: var(--background-color-tertiary);
}
.team-title {
  color: var(--subtitle-color);
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3px;
}
.team-card-name {
  font-size: var(--button-font-size);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 3px;
  color: var(--subtitle-color);
}
.team-card-job {
  font-size: var(--button-font-size);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 3px;
  color: var(--text-color);
}


.footer {
  background-color: var(--background-color-secondary);
}
.footer-text {
  color: var(--white-color);
  font-size: var(--text-font-size);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 3px;
}
.footer .contact-item {
  line-height: 1.7;
}
.footer .contact-link:hover,
.footer .contact-link:focus {
  color: var(--white-color);
}


/** Portfolio  */
.filters-button {
  background-color: var(--background-color-tertiary);
  color: var(--subtitle-color);
  font-size: var(--button-font-size);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 3px;
}
.filters .filters-button:hover,
.filters .filters-button:focus {
  background-color: var(--button-hover-color);
  color: var(--white-color);
}


.categories-subtitle {
  color: var(--subtitle-color);
  font-size: var(--card-font-size);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 6px;
}
.categories-text {
  color: var(--text-color);
  font-size: var(--button-font-size);
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 3px;
}